
* {
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}

.nav-h1{
    background-color: black;
    color: white;
    font-size: 20px;
    height: 12vh;
    padding-top: 10px;
    text-align: center;

}


.nav-list{
    background-color: white;
    height:5vh;
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:flex-end;
    list-style: none;
    padding: 7px;
    
}

a{
    
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 21px;
}

section{
    min-height: 100vh;
}

#home{
    background: linear-gradient(to left, #e55d87, #5fc3e4);
}

#sobre{
    background-color: aquamarine;
}

#contato{
    background-color: brown;
}